@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{line-height:2em;background-color:#ffffff;font-family:arial, helvetica, sans-serif;color:#666666;font-size:12px}
a{color:white;text-decoration:none;-webkit-transition-property:color;-moz-transition-property:color;-o-transition-property:color;transition-property:color;-webkit-transition-duration:.2s;-webkit-transition-timing-function:ease-in;-moz-transition-duration:.2s;-moz-transition-timing-function:ease-in;-o-transition-duration:.2s;-o-transition-timing-function:ease-in;transition-duration:.2s;transition-timing-function:ease-in}
a:hover{color:#cd0606;text-decoration:underline}

/* hc_lnav */
.hc_lnav{z-index:99;position:relative;width:220px;margin:40px 20px 0 120px;}
.hc_lnav .allbtn{z-index:99;position:relative}
.hc_lnav .allbtn h2{background: #7abeee ;font-size:20px;box-shadow:2px 0px 6px -3px #7abeee;-webkit-box-shadow:2px 0px 6px -3px #7abeee;-moz-box-shadow:2px 0px 6px -3px #7abeee}
.hc_lnav .allbtn h2 a{line-height:36px;background-color:#7abeee;padding-left:10px;width:180px;display:block;font-family:微软雅黑, 黑体;height:36px;color:white;font-size:20px;font-weight:normal}
.hc_lnav .allbtn h2 a:hover{background-color:#7abeee;text-decoration:none}
.hc_lnav .allbtn h2 i{}
.hc_lnav .allbtn h2 strong{}
/*一级导航隐藏*/
.hc_lnav .allbtn ul{z-index:99;position:absolute;background-color:#7abeee;width:220px;display:block;height:267px;top:36px;left:0px}
body.hc_home .hc_lnav .allbtn ul{display:block}
body.hc_list .hc_lnav .allbtn ul{display:block}
.hc_lnav .allbtn ul li{padding-bottom:7px;zoom:1;clear:both;cursor:default;height:107px;border-top: 1px solid dodgerblue;background:#7abeee;}
.hc_lnav .allbtn ul li .tx{color: white;background-image:url(../img/header/header_bg1.png);line-height:35px;background-color:#7abeee;padding-left:10px;background-repeat:no-repeat;background-position:right center;height:35px;_background-image:none;}
.hc_lnav .allbtn ul li .tx a{color: white;font-family:微软雅黑, 黑体;color:white;font-size:18px;-webkit-transition:color 0.1s ease-out 0s;-moz-transition:color 0.1s ease-out 0s;-ms-transition:color 0.1s ease-out 0s;-o-transition:color 0.1s ease-out 0s;transition:color 0.1s ease-out 0s}
.hc_lnav .allbtn ul li .tx a i{line-height:25px;margin-top:5px;width:25px;background-position:0px 0px;float:left;height:25px;margin-right:10px;text-decoration:none}
.hc_lnav .allbtn ul li.a1 .tx a i{background-image:url(../img/header_ico1.png)}
.hc_lnav .allbtn ul li.a2 .tx a i{background-image:url(../img/header_ico2.png)}
.hc_lnav .allbtn ul li.a3 .tx a i{background-image:url(../img/header_ico3.png)}
.hc_lnav .allbtn ul li.a4 .tx a i{background-image:url(../img/header_ico4.png)}
.hc_lnav .allbtn ul li dl{zoom:1;color:white;clear:both;overflow:auto;padding-top:4px;text-align:left;}
.hc_lnav .allbtn ul li dl a{font-size:16px;color: white;line-height:22px;text-align:left;color:#d9e7ce;margin-left:6px;margin-right:6px;-webkit-transition:color 0.1s ease-out 0s;-moz-transition:color 0.1s ease-out 0s;-ms-transition:color 0.1s ease-out 0s;-o-transition:color 0.1s ease-out 0s;transition:color 0.1s ease-out 0s}
.hc_lnav .allbtn ul li dt{padding-left:10px;width:30px;float:left;padding-top:1px;color: white;}
.hc_lnav .allbtn ul li dd{line-height:22px;float:left;padding-top:2px;color: white;}
/*二级导航隐藏*/
.pop button{
	border: 0;
	background: transparent;
}
.pop button div{
	text-align: left;
	color: #3187c5;
}
.pop button:hover{
	background: transparent;
}
.hc_lnav .allbtn ul li .pop{position:absolute;padding-bottom:10px;background-color:lightblue;padding-left:30px;width:405px;padding-right:30px;display:none;top:0px;padding-top:10px;left:220px;text-align: left;}
.hc_lnav .allbtn ul li .pop h3{display:none;font-size:14px}
.hc_lnav .allbtn ul li .pop dl{padding-bottom:6px;color:white;padding-top:6px}
.hc_lnav .allbtn ul li .pop dl:hover{background-color:#f3f3f3}
.hc_lnav .allbtn ul li .pop dl a{color:#666666;margin-left:12px;margin-right:12px}
.hc_lnav .allbtn ul li .pop dl a.un{color:#a5a5a5}
.hc_lnav .allbtn ul li .pop dt{padding-left:0px;width:72px;}
.hc_lnav .allbtn ul li .pop dd{width:565px;margin-left:-12px;}
.hc_lnav .allbtn ul li .pop .act{width:640px;height:80px;overflow:hidden;padding-top:10px}



.hc_lnav .allbtn:hover ul{display:block}/*控制一级菜单显示隐藏*/
.hc_lnav .allbtn ul li:hover{background-color:#3d95d5}
.hc_lnav .allbtn ul li:hover .tx{background-color:#3d95d5}
.hc_lnav .allbtn ul li:hover .tx a{color:white}
.hc_lnav .allbtn ul li:hover .tx a i{background-position:0px -25px}

.hc_lnav .allbtn ul li:hover .pop{display:block;top:0px;left:220px}/*控制二级菜单显示隐藏*/
.hc_lnav .allbtn ul li:hover .pop dl a.un{color:white;text-decoration:none}
.hc_lnav .allbtn ul li:hover dl{color:white}
.hc_lnav .allbtn ul li:hover a{color:white}
.hc_lnav .allbtn ul li:hover a:hover{color:white}
.a1,.a2,.a3 dl dd a{
	color: white;
}
.a1,.a2,.a3{
	width: 220px;
}
.hc_lnav .allbtn ul li:hover .pop1{display:block;top:0px;left:220px}
.hc_lnav .allbtn ul li:hover .pop2{display:block;top:107px;left:220px}
.hc_lnav .allbtn ul li:hover .pop3{display:block;top:214px;left:220px}